/* Styles for weapon selection screen */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  width: 95vw;
}

.tabs-container {
  display: flex;
  height: 90vh;
  overflow-y: auto;
}

.tabcontent-container {
  width: 100%;
  height: 90vh;
  overflow-y: auto;
}

.balance-content {
  color: white;
  display: flex;
  margin: 20px 0;
}

.sub-tab {
  display: flex;
  padding: 10px;
  flex-direction: column;
  margin: 10px;
  margin-right: 140px;
  background-color: #071725;
  padding: 0px 40px;
  border-radius: 20px;
}

.tab {
  width: max-content;
  margin: 20px;
  flex-direction: column;
  display: flex;
  padding-right: 20px;
}

.tablinks,
.sub-tablinks {
  padding: 10px 40px;
  font-size: 16px;
  background-color: #135b99;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px;
  border-radius: 10px;
  margin-top: 20px;
}

.tablinks:hover,
.sub-tablinks:hover {
  background-color: #135b99;
}

.tabcontent {
  flex-direction: row !important;
  width: 70%;
  align-items: center;
  justify-content: center;
  background-color: #081e31;
  border-radius: 15px;
  margin-left: 30px;
  padding: 10px;
}

#confirm-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #1e88e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 5px;
}

#confirm-btn:hover {
  background-color: #1665aa;
}

.card-content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card {
  width: 200px;
  height: 120px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #133e63;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.card-content h3 {
  margin: 0;
  color: #ededed;
  font-size: 16px;
}

.card-content h4 {
  margin: 0;
  color: #9eb8e4;
  font-size: 12px;
  text-align: center;
}

.card-content p {
  margin: 5px 0;
  color: #a4a4a4;
}

.row-card.selected {
  background-color: #1a5181 !important;
  border-radius: 10px;
}

.row-card {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-right: 15px;
}

.weapon-price {
  text-align: right !important;
}

.disabled-card {
  pointer-events: none;
  opacity: 0.5;
}

.row-card:hover {
  border-radius: 10px;
  background-color: #071725;
}

.card:hover img {
  transform: scale(1.1);
}

.card.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.picked-badge {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgb(69, 54, 230);
  color: white;
  padding: 5px;
  border-radius: 5px;
  display: none;
}

.row-card.selected .picked-badge {
  display: block;
}

#confirm-btn:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.balance-content {
  color: white;
  display: flex;
  margin: 20px 0;
}

/* Add this CSS to change the color of active tab and sub-tab */
.tablinks.active,
.sub-tablinks.active {
  transition: transform 0.3s ease; /* Add transition for scale effect */
  background-color: #1e88e5;
  color: white;
  transform: scale(1.1); /* Scale up image on hover */
}

.tablinks:focus,
.sub-tablinks:focus {
  outline: none; /* Remove default focus outline */
}

.empty-message {
  text-align: center;
}
